.projects {
    color: #55755b;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 3rem;
    animation: fadeIn 1.5s forwards;
    transform: translateY(30px); 
}

.projects p {
    font-family: CustomFont, serif;
    font-size: 1.2rem;
    line-height: 1.5;
    color: rgb(93, 93, 93);
}

.project-cards {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.project-card {
    width: 300px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    background-color: #eeeeee;
}

.project-card h4 {
    margin-top: -10px;
    color: rgb(147, 159, 145);
}

.project-card p {
    font-size: 1rem;
}

.project-card a {
    text-decoration: none;
    color: #55755b;
}

.project-card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}